[submodule "deps/lru"]
	path = deps/lru
	url = https://github.com/tstarling/thread-safe-lru.git
	ignore = dirty
[submodule "deps/tbb"]
	path = deps/tbb
	url = https://github.com/uxlfoundation/oneTBB.git
	branch = v2022.3.0
	ignore = dirty
