[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	branch = v3.12.0
	ignore = dirty
[submodule "deps/lru"]
	path = deps/lru
	url = https://github.com/tstarling/thread-safe-lru.git
	ignore = dirty
[submodule "deps/tbb"]
	path = deps/tbb
	url = https://github.com/uxlfoundation/oneTBB.git
	branch = v2022.3.0
	ignore = dirty
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.17.0
	ignore = dirty
